# Django Secret Key
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*,backend,localhost
LOG_LEVEL=INFO
USE_HTTPS_IN_ABSOLUTE_URLS=False

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_KEY=

# SHKeeper Keys
SHKEEPER_URL=http://shkeeper:5000
SHKEEPER_API_KEY=...
SHKEEPER_CALLBACK_BASE=http://backend:8000

# Base Domains
SERVER_DOMAIN=127.0.0.1:8000
FRONTEND_DOMAIN=localhost:3000

# Database Configuration
DB_ENGINE=#postgresql / mysql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Email Configuration
EMAIL_HOST=<your_email_host>
EMAIL_PORT=587
EMAIL_USE_TLS=False
EMAIL_HOST_USER=<your_email_host_user>
EMAIL_HOST_PASSWORD=<your_email_host_password>
DEFAULT_FROM_EMAIL=FOG Direct <orders@shop.example.com>
# Redis Configuration
REDIS_HOST=redis://redis:6379/2
CELERY_BROKER_URL=redis://redis:6379/0

# Memcache
MEMCACHE_HOST=memcached:11211

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE_NAME=
RABBITMQ_VHOST=

