{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list admin_tree %}

{% block extrastyle %}
    {{ block.super }}

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'treebeard/treebeard-admin.css' %}"
    />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/treebeard-unfold.css' %}"
    />
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% if treebeard_tree %}
        <script src="{% url 'admin:jsi18n' %}"></script>

        <script
            data-csrftoken="{{ csrf_token }}"
            src="{% static 'treebeard/treebeard-admin.js' %}"
        ></script>
    {% endif %}
{% endblock %}

{% block result_list %}
    {{ block.super }}

    {% if treebeard_tree %}
        {% tree_context cl request as node_context %}
        {{ node_context|json_script:"tree-context" }}
    {% endif %}
{% endblock %}