{% extends "unfold/change_list.html" %}
{% load i18n admin_urls static admin_list treebeard %}

{% block extrahead %}
    {{ block.super }}
    {# 1. Load Django's bundled jQuery and init scripts to expose django.jQuery #}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    {# 2. Treebeard base CSS and our Unfold compatibility layer #}
    <link rel="stylesheet" type="text/css" href="{% static 'treebeard/treebeard-admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/treebeard-unfold.css' %}" />

    {# 3. Treebeard drag-and-drop logic #}
    <script type="text/javascript" src="{% static 'treebeard/treebeard-admin.js' %}"></script>
{% endblock %}

{% block result_list %}
    <div class="overflow-x-auto bg-white dark:bg-base-900 border border-base-200 dark:border-base-800 rounded-md shadow-sm mb-6">
        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% result_tree cl request %}
        {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    </div>
{% endblock %}